*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border-style: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/merriweather/merriweather-light-webfont.woff2") format("woff2"), url("../assets/fonts/merriweather/merriweather-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/merriweather/merriweather-regular-webfont.woff2") format("woff2"), url("../assets/fonts/merriweather/merriweather-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/merriweather/merriweather-bold-webfont.woff2") format("woff2"), url("../assets/fonts/merriweather/merriweather-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/merriweather/merriweather-black-webfont.woff2") format("woff2"), url("../assets/fonts/merriweather/merriweather-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("../assets/fonts/kanit/kanit-extralight-webfont.woff2") format("woff2"), url("../assets/fonts/kanit/kanit-extralight-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("../assets/fonts/kanit/kanit-light-webfont.woff2") format("woff2"), url("../assets/fonts/kanit/kanit-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("../assets/fonts/kanit/kanit-regular-webfont.woff2") format("woff2"), url("../assets/fonts/kanit/kanit-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("../assets/fonts/kanit/kanit-medium-webfont.woff2") format("woff2"), url("../assets/fonts/kanit/kanit-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("../assets/fonts/kanit/kanit-semibold-webfont.woff2") format("woff2"), url("../assets/fonts/kanit/kanit-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@media (max-width: 0) {
  .test-class {
    background-color: red !important;
  }
}
@media (max-width: 480px) {
  .test-class {
    background-color: blue !important;
  }
}
@media (max-width: 720px) {
  .test-class {
    background-color: green !important;
  }
}
@media (max-width: 960px) {
  .test-class {
    background-color: purple !important;
  }
}
@media (max-width: 1380px) {
  .test-class {
    background-color: orange !important;
  }
}
@media (max-width: 1400px) {
  .test-class {
    color: pink;
  }
}

@keyframes smoothshow {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes smoothshowReverse {
  100% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
@keyframes hero-arrow-down {
  0% {
    transform: translateY(-3rem);
    opacity: 0;
  }
  50% {
    transform: translateY(2rem);
    opacity: 1;
  }
  100% {
    transform: translateY(6rem);
    opacity: 0;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2250px);
  }
}
* {
  color: inherit;
  margin: 0;
}

html {
  font-size: 62.5%;
}
html ::-moz-selection { /* Code for Firefox */
  color: #0D1117;
  background: #FFBD14;
}
html ::selection {
  color: #0D1117;
  background: #FFBD14;
}

body {
  position: relative;
  font-family: Helvetica, Sans-serif;
  background-color: #0D1117;
  color: #ffffff;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

svg {
  transition: all 0.2s ease;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0D1117;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFBD14;
}

.primary-button {
  position: relative;
  font-family: "Kanit";
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.6;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border-radius: 1px;
  box-shadow: #FFBD14 0px 0px 0px 1px;
  background: rgba(255, 188, 20, 0);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  color: #ffffff;
  transition: all 0.2s ease;
  overflow: hidden;
  cursor: pointer;
}
.primary-button .btn__content {
  z-index: 1;
}
.primary-button .btn__slide {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -10px;
  width: 0;
  background-color: #FFBD14;
  transform: skew(-15deg);
  transition: all 0.2s ease;
}
.primary-button:hover {
  color: #0D1117;
}
.primary-button:hover .btn__slide {
  width: calc(110% + 15px);
}
.primary-button:active .btn__slide {
  background: rgba(0, 0, 0, 0);
}
.primary-button:active .btn__content {
  color: #ffffff;
}
@media (max-width: 1380px) {
  .primary-button {
    font-family: "Kanit";
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    padding: 12px 20px;
  }
}

.secondary-button {
  font-family: "Kanit";
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.6;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  gap: 6px;
  border-radius: 1px;
  box-shadow: #84868A 0px 0px 0px 1px;
  background: rgba(255, 188, 20, 0);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  color: #ffffff;
  transition: all 0.2s ease;
  overflow: hidden;
  cursor: pointer;
}
.secondary-button:hover {
  box-shadow: #ffffff 0px 0px 0px 2px;
  background: rgba(40, 48, 61, 0.64);
}
.secondary-button:hover .arrow-down-right {
  transform: rotate(45deg);
}
.secondary-button:hover .arrow-up {
  transform: translateY(-4px);
}
.secondary-button:active {
  background: rgba(0, 0, 0, 0);
}
@media (max-width: 1380px) {
  .secondary-button {
    font-family: "Kanit";
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    padding: 12px 20px;
    gap: 4px;
  }
  .secondary-button svg {
    width: 20px;
    height: 20px;
  }
}

.tertiary-button {
  font-family: "Kanit";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  gap: 6px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0);
  box-shadow: rgba(132, 134, 138, 0.4392156863) 0px 0px 0px 1px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: all 0.5s ease;
  cursor: pointer;
}
.tertiary-button svg {
  width: 18px;
  height: 18px;
}
.tertiary-button:hover {
  background: rgba(13, 17, 23, 0.2862745098);
  box-shadow: #FFBD14 0px 0px 0px 1px;
}
.tertiary-button:hover .download-icon {
  transform: translateY(2px);
}

.md-header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 72px;
  padding: 16px 0px;
  background: linear-gradient(180deg, #0D1117 0%, rgba(13, 17, 23, 0) 100%);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  transition: all 0.3s ease;
  z-index: 100;
}
.md-header .header-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1520px;
  padding: 0 20px;
  margin: auto;
}
@media (max-width: 1380px) {
  .md-header .header-content-container {
    max-width: 1120px;
  }
}
.md-header .header-content-container .mobile-menu-toggle {
  display: flex;
  gap: 2px;
  width: 40px;
  height: 40px;
  grid-row-gap: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.md-header .header-content-container .mobile-menu-toggle .nav-toggle-line {
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  transition: 0.2s ease;
}
.md-header .header-content-container .mobile-menu-toggle ._1 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.md-header .header-content-container .mobile-menu-toggle ._2 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.md-header .header-content-container .mobile-menu-toggle ._3 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.md-header .header-content-container .mobile-menu-toggle--active ._1 {
  transform: translate3d(0px, 8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.md-header .header-content-container .mobile-menu-toggle--active ._2 {
  transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.md-header .header-content-container .mobile-menu-toggle--active ._3 {
  transform: translate3d(0px, -8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
@media (max-width: 960px) {
  .md-header .header-content-container .mobile-menu-toggle {
    display: flex;
  }
}
.md-header .mobile-nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 32px;
  padding: 0px 20px;
  position: relative;
  top: -200vh;
  opacity: 0;
  transition: 0.3s ease;
}
.md-header .mobile-nav-menu img {
  width: 220px;
  margin: auto;
}
.md-header .mobile-nav-menu .header-nav-bar--mobile {
  width: 100%;
}
.md-header .mobile-nav-menu .header-nav-bar--mobile .m-nav-item {
  font-family: "Kanit";
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.6;
  display: flex;
  padding: 16px 0px;
  align-items: center;
  border-bottom: 1px solid rgba(132, 134, 138, 0.5);
}
.md-header .mobile-nav-menu .header-nav-bar--mobile .tertiary-btn {
  margin: 0 auto;
  background-color: red;
}
.md-header--mobile {
  height: 100vh;
  background: rgba(13, 17, 23, 0.8352941176);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.md-header--mobile .mobile-nav-menu {
  opacity: 1;
  top: 0;
  animation: smoothshow 1s both;
}

.md-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(78.84% 78.84% at 50% 21.16%, rgba(13, 17, 23, 0) 0%, #0D1117 100%);
  overflow: hidden;
}
@media (max-height: 480px) {
  .md-hero {
    height: inherit;
  }
}
@media (max-width: 960px) {
  .md-hero {
    height: auto;
  }
}
@media (max-width: 480px) {
  .md-hero {
    height: 88vh;
    overflow: visible;
  }
}
.md-hero .bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (max-height: 480px) {
  .md-hero .bg-video {
    top: 0;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.md-hero .hero-cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  padding: 180px 20px 80px 20px;
  margin: auto;
}
@media (max-height: 480px) {
  .md-hero .hero-cta-container {
    padding-top: 96px;
  }
}
@media (max-width: 1380px) {
  .md-hero .hero-cta-container {
    max-width: 400px;
  }
}
@media (max-width: 720px) {
  .md-hero .hero-cta-container {
    padding-top: 120px;
  }
}
.md-hero .hero-cta-container .md-logo {
  max-width: 100%;
}
.md-hero .hero-cta-container .hero-subtitle {
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.8;
  margin-top: 16px;
  text-align: center;
  max-width: 360px;
}
@media (max-width: 720px) {
  .md-hero .hero-cta-container .hero-subtitle {
    font-family: "Merriweather";
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
  }
}
.md-hero .hero-cta-container .btn-container {
  margin-top: 32px;
  display: flex;
  gap: 32px;
}
@media (max-width: 1380px) {
  .md-hero .hero-cta-container .btn-container {
    margin-top: 24px;
    gap: 24px;
  }
}
.md-hero .hero-content-indicator {
  max-width: 1520px;
  display: flex;
  justify-content: left;
  padding: 0 20px;
  margin: auto;
}
.md-hero .hero-content-indicator .arrow-down-icon {
  width: 32px;
  height: 32px;
  animation: hero-arrow-down 1s infinite ease-in-out;
}
@media (max-width: 1380px) {
  .md-hero .hero-content-indicator {
    max-width: 1120px;
  }
}
@media (max-width: 960px) {
  .md-hero .hero-content-indicator {
    justify-content: center;
  }
}

@media (min-aspect-ratio: 16/9) {
  .bg-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .bg-video {
    width: auto;
    height: 100%;
  }
}
.info-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1520px;
  margin: 80px auto 0 auto;
  padding: 0 20px;
  gap: 64px;
}
.info-display--left {
  flex-direction: row-reverse;
  margin-top: 200px;
}
@media (max-width: 1380px) {
  .info-display--left {
    margin-top: 160px;
  }
}
@media (max-width: 720px) {
  .info-display--left {
    margin-top: 80px;
  }
}
@media (max-width: 1380px) {
  .info-display {
    max-width: 1120px;
  }
}
@media (max-width: 960px) {
  .info-display {
    flex-direction: column;
    gap: 32px;
  }
}
.info-display .info-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 610px;
}
@media (max-width: 1380px) {
  .info-display .info-container {
    max-width: 544px;
  }
}
@media (max-width: 960px) {
  .info-display .info-container {
    max-width: 100%;
  }
}
.info-display .info-container .info-title {
  font-family: "Kanit";
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 1.34;
  letter-spacing: -0.4 0.8rem;
}
@media (max-width: 1380px) {
  .info-display .info-container .info-title {
    font-family: "Kanit";
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 1.45;
  }
}
@media (max-width: 720px) {
  .info-display .info-container .info-title {
    font-family: "Kanit";
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.25;
  }
}
.info-display .info-container .info-description {
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.8;
}
@media (max-width: 1380px) {
  .info-display .info-container .info-description {
    font-family: "Merriweather";
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
  }
}
.info-display .info-container .btn-container {
  display: flex;
  gap: 32px;
}
@media (max-width: 1380px) {
  .info-display .info-container .btn-container {
    gap: 24px;
  }
}
@media (max-width: 720px) {
  .info-display .info-container .btn-container {
    flex-direction: column;
  }
}
.info-display .info-img {
  width: 740px;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
}
.info-display .info-img--mobile {
  display: none;
}
@media (max-width: 960px) {
  .info-display .info-img--mobile {
    display: block;
    width: 100%;
    height: 260px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 720px) {
  .info-display .info-img--mobile {
    height: 160px;
  }
}
@media (max-width: 1380px) {
  .info-display .info-img {
    width: 480px;
    height: 300px;
  }
}
@media (max-width: 960px) {
  .info-display .info-img {
    display: none;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.6s all ease;
}

.active {
  transform: translateY(0);
  opacity: 1;
}

.feature-display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 96px;
  max-width: 1520px;
  padding: 0px 20px 0px 20px;
  margin: auto;
}
@media (max-width: 1380px) {
  .feature-display-container {
    gap: 64px;
  }
}
@media (max-width: 720px) {
  .feature-display-container {
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: left;
    text-wrap: nowrap;
    padding-bottom: 20px;
  }
}
.feature-display-container .feature-capsule {
  display: flex;
  align-items: baseline;
}
.feature-display-container .feature-capsule:hover .arrow-down-right {
  transform: rotate(45deg);
}
.feature-display-container .feature-capsule:hover .feature-icon {
  stroke: #FFBD14;
}
.feature-display-container .feature-capsule .feature {
  display: flex;
  align-items: center;
  gap: 10px;
}
.feature-display-container .feature-capsule .feature .feature-icon {
  width: 78px;
  height: 78px;
  stroke-width: 0.7;
}
@media (max-width: 1380px) {
  .feature-display-container .feature-capsule .feature .feature-icon {
    width: 52px;
    height: 52px;
  }
}
.feature-display-container .feature-capsule .feature .feature-info {
  display: flex;
  flex-direction: column;
}
.feature-display-container .feature-capsule .feature .feature-info .upper-info {
  font-family: "Kanit";
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.41;
  font-weight: 200;
  line-height: 1.1;
}
@media (max-width: 1380px) {
  .feature-display-container .feature-capsule .feature .feature-info .upper-info {
    font-family: "Kanit";
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.6;
    line-height: 1.1;
  }
}
.feature-display-container .feature-capsule .feature .feature-info .bottom-info {
  font-family: "Kanit";
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 1.34;
  letter-spacing: -0.4 0.8rem;
  line-height: 1.1;
}
@media (max-width: 1380px) {
  .feature-display-container .feature-capsule .feature .feature-info .bottom-info {
    font-family: "Kanit";
    font-weight: 300;
    font-size: 3.6rem;
    line-height: 1.45;
    line-height: 1.1;
  }
}
.feature-display-container .feature-capsule .arrow-down-right {
  width: 48px;
  height: 48px;
  stroke-width: 1;
}
@media (max-width: 1380px) {
  .feature-display-container .feature-capsule .arrow-down-right {
    width: 40px;
    height: 40px;
  }
}

.books-gallery-container {
  display: flex;
  justify-content: center;
  max-width: 1520px;
  gap: 40px;
  padding: 0px 20px 0px 20px;
  margin: auto;
}
@media (max-width: 1380px) {
  .books-gallery-container {
    max-width: 1120px;
    gap: 32px;
  }
}
@media (max-width: 960px) {
  .books-gallery-container {
    flex-direction: column;
    gap: 56px;
  }
}
.books-gallery-container .book-display {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 50%;
}
@media (max-width: 960px) {
  .books-gallery-container .book-display {
    max-width: 100%;
  }
}
.books-gallery-container .book-display .display-heading {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1380px) {
  .books-gallery-container .book-display .display-heading {
    gap: 32px;
  }
}
@media (max-width: 720px) {
  .books-gallery-container .book-display .display-heading {
    flex-direction: column;
    align-items: inherit;
    gap: 8px;
  }
}
.books-gallery-container .book-display .display-heading .book-mockup {
  width: 220px;
  height: 286px;
}
@media (max-width: 1380px) {
  .books-gallery-container .book-display .display-heading .book-mockup {
    width: 160px;
    height: 210px;
  }
}
@media (max-width: 720px) {
  .books-gallery-container .book-display .display-heading .book-mockup {
    align-self: center;
  }
}
.books-gallery-container .book-display .display-heading .book-title-container {
  max-width: 320px;
}
@media (max-width: 960px) {
  .books-gallery-container .book-display .display-heading .book-title-container {
    max-width: 400px;
  }
}
@media (max-width: 720px) {
  .books-gallery-container .book-display .display-heading .book-title-container {
    max-width: 100%;
  }
}
.books-gallery-container .book-display .display-heading .book-title-container .book-title {
  font-family: "Kanit";
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 1.45;
}
@media (max-width: 720px) {
  .books-gallery-container .book-display .display-heading .book-title-container .book-title {
    font-family: "Kanit";
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.25;
  }
}
.books-gallery-container .book-display .display-heading .book-title-container .book-subtitle {
  position: relative;
  font-family: "Kanit";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.6;
  color: #E2E3E5;
  margin-top: 10px;
  padding-left: 16px;
}
@media (max-width: 1380px) {
  .books-gallery-container .book-display .display-heading .book-title-container .book-subtitle {
    font-family: "Kanit";
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    max-width: 300px;
  }
}
.books-gallery-container .book-display .display-heading .book-title-container .book-subtitle:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 3px;
  height: 90%;
  width: 2px;
  background-color: #84868A;
  opacity: 0.5;
}
.books-gallery-container .book-display .book-description {
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.8;
}
@media (max-width: 1380px) {
  .books-gallery-container .book-display .book-description {
    font-family: "Merriweather";
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
  }
}
.books-gallery-container .book-display .primary-button {
  margin-top: auto;
  align-self: flex-start;
}
@media (max-width: 960px) {
  .books-gallery-container .book-display .primary-button {
    align-self: inherit;
  }
}

.documentary {
  width: 100%;
  padding: 98px 0;
  background: radial-gradient(60.48% 60.48% at 50% 36.85%, rgba(13, 17, 23, 0) 0%, #0D1117 100%), linear-gradient(180deg, #0D1117 0%, rgba(0, 0, 0, 0) 100%), url("../assets/images/bg-test-test.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 200px;
}
@media (max-width: 1380px) {
  .documentary {
    padding: 80px 0;
    margin-top: 160px;
  }
}
@media (max-width: 960px) {
  .documentary {
    padding: 32px 0;
    margin-top: 120px;
  }
}
@media (max-width: 720px) {
  .documentary {
    margin-top: 64px;
  }
}
.documentary .doc-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  max-width: 1520px;
  padding: 0 20px;
  margin: auto;
}
@media (max-width: 1380px) {
  .documentary .doc-content-container {
    max-width: 1120px;
  }
}
@media (max-width: 960px) {
  .documentary .doc-content-container {
    flex-direction: column;
  }
}
.documentary .doc-content-container .doc-description-container {
  max-width: 480px;
}
@media (max-width: 1380px) {
  .documentary .doc-content-container .doc-description-container {
    max-width: 448px;
  }
}
@media (max-width: 960px) {
  .documentary .doc-content-container .doc-description-container {
    max-width: 100%;
  }
}
.documentary .doc-content-container .doc-description-container .doc-title {
  width: 338px;
  height: 172px;
}
@media (max-width: 1380px) {
  .documentary .doc-content-container .doc-description-container .doc-title {
    width: 260px;
    height: 132px;
  }
}
@media (max-width: 960px) {
  .documentary .doc-content-container .doc-description-container .doc-title {
    margin: auto;
  }
}
@media (max-width: 720px) {
  .documentary .doc-content-container .doc-description-container .doc-title {
    margin: inherit;
  }
}
.documentary .doc-content-container .doc-description-container .doc-description {
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.8;
}
@media (max-width: 1380px) {
  .documentary .doc-content-container .doc-description-container .doc-description {
    font-family: "Merriweather";
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
  }
}
@media (max-width: 960px) {
  .documentary .doc-content-container .doc-description-container .doc-description {
    text-align: center;
  }
}
@media (max-width: 720px) {
  .documentary .doc-content-container .doc-description-container .doc-description {
    text-align: left;
  }
}
.documentary .doc-content-container .doc-description-container .btn-container {
  margin-top: 32px;
  display: flex;
  gap: 32px;
}
@media (max-width: 1380px) {
  .documentary .doc-content-container .doc-description-container .btn-container {
    margin-top: 24px;
    gap: 24px;
  }
}
@media (max-width: 960px) {
  .documentary .doc-content-container .doc-description-container .btn-container {
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .documentary .doc-content-container .doc-description-container .btn-container {
    justify-content: left;
  }
}
.documentary .doc-content-container .doc-video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 870px;
  height: 495px;
  background: rgba(13, 17, 23, 0.8);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-width: 8px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3137254902), rgba(255, 255, 255, 0.082)) 1;
     border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3137254902), rgba(255, 255, 255, 0.082)) 1;
  transition: 0.3s all ease;
  cursor: pointer;
  mix-blend-mode: lighten;
}
@media (max-width: 1380px) {
  .documentary .doc-content-container .doc-video-player {
    width: 578px;
    height: 328px;
    border-width: 6px;
  }
}
@media (max-width: 720px) {
  .documentary .doc-content-container .doc-video-player {
    width: 100%;
    max-height: 200px;
  }
}
.documentary .doc-content-container .doc-video-player:hover {
  -o-border-image: linear-gradient(to bottom, rgba(255, 189, 20, 0.4862745098), rgba(255, 255, 255, 0.082)) 1;
     border-image: linear-gradient(to bottom, rgba(255, 189, 20, 0.4862745098), rgba(255, 255, 255, 0.082)) 1;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}
.documentary .doc-content-container .doc-video-player:hover .play-btn {
  width: 106px;
  height: 106px;
  border: 2px #84868A solid;
  background-color: rgba(13, 17, 23, 0.1764705882);
}
@media (max-width: 1380px) {
  .documentary .doc-content-container .doc-video-player:hover .play-btn {
    width: 64px;
    height: 64px;
  }
}
@media (max-width: 720px) {
  .documentary .doc-content-container .doc-video-player:hover .play-btn {
    width: 48px;
    height: 48px;
  }
}
.documentary .doc-content-container .doc-video-player:hover .play-btn .play-icon {
  filter: invert(100);
}
@media (max-width: 1380px) {
  .documentary .doc-content-container .doc-video-player:hover .play-btn .play-icon {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 720px) {
  .documentary .doc-content-container .doc-video-player:hover .play-btn .play-icon {
    width: 20px;
    height: 20px;
  }
}
.documentary .doc-content-container .doc-video-player .play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: 0.3s all ease;
}
@media (max-width: 1380px) {
  .documentary .doc-content-container .doc-video-player .play-btn {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 720px) {
  .documentary .doc-content-container .doc-video-player .play-btn {
    width: 56px;
    height: 56px;
  }
}
.documentary .doc-content-container .doc-video-player .play-btn .play-icon {
  width: 40px;
  height: 40px;
  padding-left: 8px;
}
@media (max-width: 1380px) {
  .documentary .doc-content-container .doc-video-player .play-btn .play-icon {
    width: 32px;
    height: 32px;
    padding-left: 6px;
  }
}
@media (max-width: 720px) {
  .documentary .doc-content-container .doc-video-player .play-btn .play-icon {
    width: 24px;
    height: 24px;
  }
}

.documentary-video-pop-up {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #0D1117 0%, rgba(13, 17, 23, 0) 100%);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  z-index: 100;
  transform: scale(0);
  transition: all 0.3s ease;
  animation: smoothshowReverse 1s both;
}
.documentary-video-pop-up--active {
  transform: scale(1);
  animation: smoothshow 1s both;
}
.documentary-video-pop-up .pop-up-content-container {
  width: 1120px;
  padding: 0 20px;
  margin: auto;
}
.documentary-video-pop-up .pop-up-content-container .close-icon {
  box-sizing: content-box;
  display: block;
  margin-left: auto;
  margin-bottom: 32px;
  width: 28px;
  height: 28px;
  padding: 10px;
  border: 2px rgba(132, 134, 138, 0.4392156863) solid;
  border-radius: 50%;
  cursor: pointer;
}
.documentary-video-pop-up .pop-up-content-container .close-icon:hover {
  border-color: #ffffff;
  background: rgba(40, 48, 61, 0.64);
}
.documentary-video-pop-up .pop-up-content-container .trailer-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.documentary-video-pop-up .pop-up-content-container .trailer-container .trailer-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.title-and-redirect {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1520px;
  padding: 0 20px;
  margin: auto;
}
@media (max-width: 720px) {
  .title-and-redirect {
    flex-direction: column;
    margin-bottom: 24px;
  }
}
.title-and-redirect .section-title {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 720px) {
  .title-and-redirect .section-title {
    padding-bottom: 16px;
  }
}

.photo-slider {
  display: grid;
  place-items: center;
  margin: auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 480px) {
  .photo-slider {
    overflow-x: scroll;
  }
}
.photo-slider::before, .photo-slider::after {
  background: linear-gradient(to right, #0D1117, rgba(13, 17, 23, 0));
  content: "";
  height: 100%;
  position: absolute;
  width: 20%;
  z-index: 2;
  pointer-events: none;
}
@media (max-width: 480px) {
  .photo-slider::before, .photo-slider::after {
    background: none;
  }
}
.photo-slider::before {
  left: 0;
  top: 0;
}
.photo-slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.photo-slider .slider-track {
  display: flex;
  animation: scroll 40s linear infinite;
  cursor: crosshair;
}
@media (max-width: 480px) {
  .photo-slider .slider-track {
    animation: none;
  }
}
.photo-slider .slider-track:hover {
  animation-play-state: paused;
}
.photo-slider .slider-track .slide {
  display: flex;
  align-items: center;
  position: relative;
  width: 250px;
  overflow: hidden;
}
@media (max-width: 1380px) {
  .photo-slider .slider-track .slide {
    width: 220px;
  }
}
@media (max-width: 720px) {
  .photo-slider .slider-track .slide {
    width: 200px;
  }
}
@media (max-width: 480px) {
  .photo-slider .slider-track .slide {
    width: 180px;
  }
}
.photo-slider .slider-track .slide img {
  width: 100%;
}
.photo-slider .slider-track .slide .upper-slide-layer {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  justify-items: baseline;
  padding: 16px;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(13, 17, 23, 0.8470588235);
  transition: all 0.3s ease;
  transform: translateY(100%);
  animation: smoothshowReverse 2s both;
}
.photo-slider .slider-track .slide .upper-slide-layer .photo-title {
  display: block;
  font-family: "Kanit";
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.41;
}
@media (max-width: 720px) {
  .photo-slider .slider-track .slide .upper-slide-layer .photo-title {
    font-family: "Kanit";
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.6;
  }
}
.photo-slider .slider-track .slide .upper-slide-layer .photo-subtitle {
  display: block;
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.7;
}
.photo-slider .slider-track .slide:hover .upper-slide-layer {
  transform: translateY(0%);
  animation: smoothshow 0.3s both;
}

.numbers-display {
  display: flex;
  max-width: 1520px;
  padding: 0 20px;
  gap: 40px;
  margin: auto;
  align-items: end;
  justify-content: space-between;
  overflow: hidden;
}
@media (max-width: 1380px) {
  .numbers-display {
    max-width: 1120px;
    gap: 32px;
  }
}
@media (max-width: 720px) {
  .numbers-display .numbers-content-container {
    width: 100%;
  }
}
.numbers-display .numbers-content-container .title-and-redirect {
  padding: 0;
}
.numbers-display .numbers-content-container .numbers-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 26px;
}
@media (max-width: 960px) {
  .numbers-display .numbers-content-container .numbers-grid {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 720px) {
  .numbers-display .numbers-content-container .numbers-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}
.numbers-display .numbers-content-container .numbers-grid .number-container {
  display: flex;
  flex-direction: column;
  width: 216px;
}
@media (max-width: 1380px) {
  .numbers-display .numbers-content-container .numbers-grid .number-container {
    width: 160px;
  }
}
@media (max-width: 720px) {
  .numbers-display .numbers-content-container .numbers-grid .number-container {
    width: 47%;
  }
}
.numbers-display .numbers-content-container .numbers-grid .number-container .number {
  font-family: "Kanit";
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 1.34;
  letter-spacing: -0.4 0.8rem;
  font-size: 6.4rem;
  line-height: 1;
  color: #FFBD14;
}
@media (max-width: 1380px) {
  .numbers-display .numbers-content-container .numbers-grid .number-container .number {
    font-size: 4.8rem;
    line-height: 0.8;
  }
}
.numbers-display .numbers-content-container .numbers-grid .number-container .number-subtitle {
  font-family: "Kanit";
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.41;
}
@media (max-width: 1380px) {
  .numbers-display .numbers-content-container .numbers-grid .number-container .number-subtitle {
    font-family: "Kanit";
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
  }
}
.numbers-display .instagram-phone {
  margin: 0 auto;
  width: 350px;
  height: 100%;
}
@media (max-width: 1380px) {
  .numbers-display .instagram-phone {
    width: 256px;
  }
}
@media (max-width: 720px) {
  .numbers-display .instagram-phone {
    display: none;
  }
}

.last-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 1120px;
  padding: 0 20px;
  margin: auto;
}
@media (max-width: 1380px) {
  .last-call {
    max-width: 720px;
  }
}
.last-call .section-title {
  padding-bottom: 32px;
}
@media (max-width: 720px) {
  .last-call .section-title {
    text-align: center;
  }
}
.last-call .btn-container {
  display: flex;
  gap: 32px;
}
@media (max-width: 1380px) {
  .last-call .btn-container {
    gap: 24px;
  }
}

.footer {
  border-top: 1px solid #626060;
  background: rgba(13, 17, 23, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  width: 100%;
  padding: 80px 0;
  margin-top: 200px;
}
@media (max-width: 1380px) {
  .footer {
    padding: 64px 0;
  }
}
.footer .footer-content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1520px;
  padding: 0 20px;
  margin: auto;
}
@media (max-width: 1380px) {
  .footer .footer-content-container {
    max-width: 1120px;
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 64px;
  }
}
.footer .footer-content-container .footer-left-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  min-width: 266px;
  gap: 32px;
  order: 1;
}
@media (max-width: 1380px) {
  .footer .footer-content-container .footer-left-container {
    align-items: center;
  }
}
.footer .footer-content-container .footer-left-container .copy-right {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #E2E3E5;
}
.footer .footer-content-container .footer-mid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  order: 2;
}
.footer .footer-content-container .footer-mid-container .profile-img {
  width: 188px;
  height: 100%;
}
.footer .footer-content-container .footer-right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 266px;
  gap: 32px;
  order: 3;
}
@media (max-width: 1380px) {
  .footer .footer-content-container .footer-right-container {
    align-items: center;
    order: 1;
  }
}
@media (max-width: 720px) {
  .footer .footer-content-container .footer-right-container {
    gap: 16px;
  }
}
.footer .footer-content-container .footer-right-container .social-media-title {
  font-family: "Kanit";
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.6;
  text-align: right;
}

.section-title {
  font-family: "Kanit";
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 1.34;
  letter-spacing: -0.4 0.8rem;
  max-width: 1520px;
  padding: 200px 20px 80px 20px;
  margin: auto;
  text-align: left;
}
.section-title--center {
  text-align: center;
}
@media (max-width: 1380px) {
  .section-title {
    font-family: "Kanit";
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 1.45;
    max-width: 1120px;
    padding-top: 160px;
    padding-bottom: 56px;
  }
}
@media (max-width: 720px) {
  .section-title {
    font-family: "Kanit";
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.25;
    padding-bottom: 40px;
    text-align: left;
  }
}

.md-nav-bar--header, .md-nav-bar--footer {
  display: flex;
  align-items: baseline;
  gap: 40px;
}
.md-nav-bar--header .nav-item, .md-nav-bar--footer .nav-item {
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #E2E3E5;
  transition: all 0.2s linear;
}
.md-nav-bar--header .nav-item::after, .md-nav-bar--footer .nav-item::after {
  content: "";
  display: block;
  height: 2px;
  width: 6px;
  background-color: #FFBD14;
  opacity: 0;
  transition: all 0.2s linear;
}
.md-nav-bar--header .nav-item:hover::after, .md-nav-bar--footer .nav-item:hover::after {
  width: 50%;
  opacity: 1;
}
.md-nav-bar--header .nav-item:hover, .md-nav-bar--footer .nav-item:hover {
  color: #ffffff;
}
@media (max-width: 960px) {
  .md-nav-bar--header:not(.md-nav-bar--footer), .md-nav-bar--footer:not(.md-nav-bar--footer) {
    display: none;
  }
}
@media (max-width: 720px) {
  .md-nav-bar--header.md-nav-bar--footer, .md-nav-bar--footer.md-nav-bar--footer {
    flex-direction: column;
    align-items: center;
  }
}

.social-media-links {
  display: flex;
}
.social-media-links .sm-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  transition: all 0.2s ease-in;
}
.social-media-links .sm-link:hover {
  filter: invert(0.3) sepia(0.5) saturate(20) hue-rotate(0deg) brightness(1.08);
}

.spot-light-footer {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -120px;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 260px;
  border-radius: 50%;
  background-color: #ff7714;
  filter: blur(332px);
  z-index: -10;
}

.instagram-redirect {
  display: flex;
  align-items: center;
  gap: 6px;
}
.instagram-redirect .redirect-title {
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.8;
  color: #84868A;
  transition: 0.3s ease all;
}
@media (max-width: 1380px) {
  .instagram-redirect .redirect-title {
    font-family: "Merriweather";
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
  }
}
.instagram-redirect .arrow-right {
  stroke: #84868A;
}
@media (max-width: 1380px) {
  .instagram-redirect .arrow-right {
    width: 20px;
    height: 20px;
  }
}
.instagram-redirect .ig-icon {
  width: 32px;
  height: 32px;
  transition: 0.3s ease all;
}
@media (max-width: 1380px) {
  .instagram-redirect .ig-icon {
    width: 24px;
    height: 24px;
  }
}
.instagram-redirect:hover .redirect-title {
  color: #ffffff;
}
.instagram-redirect:hover .arrow-right {
  transform: translateX(4px);
  stroke: #ffffff;
}
.instagram-redirect:hover .ig-icon {
  filter: invert(0.3) sepia(0.5) saturate(20) hue-rotate(0deg) brightness(1.08);
}/*# sourceMappingURL=style.css.map */