@use "../styles" as *;


.footer {
    border-top: 1px solid #626060;
    background: rgba(13, 17, 23, 0.50);
    backdrop-filter: blur(6px);
    width: 100%;
    padding: 80px 0;
    margin-top: 200px;

    @include xl {
      padding: 64px 0;
    }

    .footer-content-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 1520px;
        padding: 0 20px;
        margin: auto;

        @include xl {
            max-width: 1120px;
            flex-direction: column-reverse;
            align-items: stretch;
            gap: 64px;
          }

          .footer-left-container {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            min-width: 266px;
            gap: 32px;
            order: 1;

            @include xl {
                align-items: center;
              }

            .copy-right {
                @include Merriweather--caption-regular;
                color: $md-offwhite;
            }
          }

          .footer-mid-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            order: 2;

            .profile-img {
                width: 188px;
                height: 100%;
            }
          }

          .footer-right-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            min-width: 266px;
            gap: 32px;
            order: 3;

            @include xl {
                align-items: center;
                order: 1;
              }

              @include md {
                gap: 16px;
              }

            .social-media-title {
                @include Kanit--body2-bold;
                text-align: right;
            }
          }
    }
}