@use "../styles" as *;

.md-header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 72px;
    padding: 16px 0px;
    background: linear-gradient(180deg, #0D1117 0%, rgba(13, 17, 23, 0.00) 100%);
    backdrop-filter: blur(6px);
    transition: all .3s ease;
    z-index: 100;

    .header-content-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1520px;
        padding: 0 20px;
        margin: auto;

        @include xl {
            max-width: 1120px;
          }

        .social-media-links {
            display: flex;

            .sm-link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                transition: all .2s ease-in;

                &:hover {
                    filter: invert(0.3) sepia(0.5) saturate(20) hue-rotate(0deg) brightness(1.08);
                }
            }
        }

        .header-nav-bar {
            display: flex;
            align-items: baseline;
            gap: 40px;

            .nav-item {
                @include Merriweather--body-light;
                color: $md-offwhite;
                transition: all 0.2s linear;

                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 6px;
                    background-color: $md-accent-yellow;
                    opacity: 0;
                    transition: all 0.2s linear;
                }

                &:hover::after {
                    width: 50%;
                    opacity: 1;
                }

                &:hover {
                    color: $md-white;
                }
            }
            @include lg {
                display: none;
              }
        }

        .mobile-menu-toggle {
            display: flex;
            gap: 2px;
            width: 40px;
            height: 40px;
            grid-row-gap: 6px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: none;

            .nav-toggle-line {
                width: 24px;
                height: 2px;
                background-color: $md-white;
                transition: .2s ease;
            }
            ._1 {
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
            }
            ._2 {
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
            }
            ._3{
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
            }

              &--active {
                ._1 {
                    transform: translate3d(0px, 8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                }
                ._2 {
                    transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                }
                ._3{
                    transform: translate3d(0px, -8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                }
              }

              @include lg {
                display: flex;
              }
        }
    }

    .mobile-nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: 32px;
        padding: 0px 20px;
        position: relative;
        top: -200vh;
        opacity: 0;
        transition: .3s ease;

        img {
            width: 220px;
            margin: auto;
        }

        .header-nav-bar--mobile {
            width: 100%;
            .m-nav-item {
                @include Kanit--body2-bold;
                display: flex;
                padding: 16px 0px;
                align-items: center;
                border-bottom: 1px solid rgba(132, 134, 138, 0.50);
            }
            .tertiary-btn {
                margin: 0 auto;
                background-color: red;
            }
        }
    }
    
    &--mobile {
        height: 100vh;
        background: #0d1117d5;;
        backdrop-filter: blur(6px);

        .mobile-nav-menu{ 
            opacity: 1;
            top: 0;
            animation: smoothshow 1s backwards;
        }
    }
}


//Container de teste

.test-container {
    max-width: 600px;
    padding: 32px;
    margin: 180px auto 0 auto;
    border: 1px rgba(126, 127, 134, 0.664) solid;

    h1 {

        @include Kanit--h1-bold;
        margin-bottom: 24px
    }

    p {
        @include Merriweather--body2-light;
    }

    .btn-container {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 32px;
    }
}

