@use "../styles" as *;

.md-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image:radial-gradient(78.84% 78.84% at 50.00% 21.16%, rgba(13, 17, 23, 0.00) 0%, #0D1117 100%);
    overflow: hidden;

    @include lg {
        height: 72vh;
      }

      @include sm {
        height: 100vh;
      }

    .bg-video {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .hero-cta-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 480px;
        padding: 180px 20px 80px 20px;
        margin: auto;

        @include xl {
            max-width: 400px;
          }

          @include md {
            padding-top: 120px;
          }

        .md-logo {
            max-width: 100%;
        }

        .hero-subtitle {
            @include Merriweather--body2-light;
            margin-top: 16px;
            text-align: center;
            max-width: 360px;

            @include md {
                @include Merriweather--body-light;
              }
        }

        .btn-container {
            margin-top: 32px;
            display: flex;
            gap: 32px;

            @include xl {
                margin-top: 24px;
                gap: 24px;
              }
        }
    }

    .hero-content-indicator {
        max-width: 1520px;
        display: flex;
        justify-content: left;
        padding: 0 20px;
        margin: auto;

        .arrow-down-icon {
            width: 32px;
            height: 32px;
            animation: hero-arrow-down 1s infinite ease-in-out;
        }

        @include xl {
            max-width: 1120px;
          }

          @include lg {
            justify-content: center;
          }
    }
}

@media (min-aspect-ratio:16/9) {
    .bg-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .bg-video {
        width: auto;
        height: 100%;
    }
}