@use "../styles" as *;

.info-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1520px;
    margin: 80px auto 0 auto;
    padding: 0 20px;
    gap: 64px;

    &--left {
        flex-direction: row-reverse;
        margin-top: 200px;

        @include xl {
            margin-top: 160px;
          }

          @include md {
            margin-top: 80px;
          }
    }

    @include xl {
        max-width: 1120px;
      }

      @include lg {
        flex-direction: column;
        gap: 32px;
      }

    .info-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 610px;

        @include xl {
            max-width: 544px;
          }

          @include lg {
            max-width: 100%;
          }

        .info-title {
            @include Kanit--h1-bold;

            @include xl {
                @include Kanit--h2-bold;
              }

              @include md {
                @include Kanit--h3-bold;
              }
        }

        .info-description {
            @include Merriweather--body2-light;

            @include xl {
                @include Merriweather--body-light;
              }
        }

        .btn-container {
          display: flex;
          gap: 32px;

          @include xl {
              gap: 24px;
            }

            @include md {
              flex-direction: column;
            }
      }
    }

    .video-player-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 12px;

      .video-title {
        @include Kanit--h4-bold;

        .video-duration {
          padding-left: 8px;
          @include Merriweather--body-light;
          color: $md-gray;
        }
      }
    }

    .info-img,
    .video-player{
        width: 740px;
        height: 460px;
        object-fit: cover;
        background-color: red;
        background: url("../assets/images/podcast-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &--mobile {
          display: none;

          @include lg {
            display: block;
            width: 100%;
            height: 260px;
            object-fit: cover;
          }

          @include md {
            height: 160px;
          }
        }

        @include xl {
            width: 480px;
            height: 300px;
          }

          &.info-img {
            @include lg {
              display: none;
            }
          }

          &.video-player {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid;
            border-image: linear-gradient(to bottom, #ffffff50, rgba(255, 255, 255, 0.082)) 1;
            transition: .3s ease;
            cursor: pointer;

            @include lg {
              width: 100%;
              height: 260px;
            }

            @include md {
              height: 160px;
            }
            &:hover {
              border-image: linear-gradient(to bottom, #FFBD147c, rgba(255, 255, 255, 0.082)) 1;
              backdrop-filter: blur(0px);

              .play-btn {
                  width: 106px;
                  height: 106px;
                  border: 2px $md-gray solid;
                  background-color: #0d11172d;

                  @include xl {
                      width: 64px;
                      height: 64px;
                    }

                    @include md {
                      width: 48px;
                      height: 48px;
                    }

                  .play-icon {
                      filter: invert(100);

                      @include xl {
                          width: 28px;
                          height: 28px;
                        }

                        @include md {
                          width: 20px;
                          height: 20px;
                        }
                  }
              }
          }
          }
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: .6s all ease;
  }

.active{
    transform: translateY(0);
    opacity: 1;
  }