@use "../styles" as *;

.info-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1520px;
    margin: 80px auto 0 auto;
    padding: 0 20px;
    gap: 64px;
    // display: none !important;

    &--left {
        flex-direction: row-reverse;
        margin-top: 200px;

        @include xl {
            margin-top: 160px;
          }

          @include md {
            margin-top: 80px;
          }
    }

    @include xl {
        max-width: 1120px;
      }

      @include lg {
        flex-direction: column;
        gap: 32px;
      }

    .info-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 610px;

        @include xl {
            max-width: 544px;
          }

          @include lg {
            max-width: 100%;
          }

        .info-title {
            @include Kanit--h1-bold;

            @include xl {
                @include Kanit--h2-bold;
              }

              @include md {
                @include Kanit--h3-bold;
              }
        }

        .info-description {
            @include Merriweather--body2-light;

            @include xl {
                @include Merriweather--body-light;
              }
        }

        .btn-container {
          display: flex;
          gap: 32px;

          @include xl {
              gap: 24px;
            }

            @include md {
              flex-direction: column;
            }
      }
    }

    .info-img{
        width: 740px;
        height: 460px;
        object-fit: cover;

        &--mobile {
          display: none;

          @include lg {
            display: block;
            width: 100%;
            height: 260px;
            object-fit: cover;
          }

          @include md {
            height: 160px;
          }

        }

        @include xl {
            width: 480px;
            height: 300px;
          }

          @include lg {
            display: none;
          }
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: .6s all ease;
  }
  
.active{
    transform: translateY(0);
    opacity: 1;
  }