@use "../styles" as *;

// Base styles

* {
  color: inherit;
  margin: 0;
}

html {
  ::-moz-selection { /* Code for Firefox */
    color: $md-black;
    background: $md-accent-yellow;
  }
  ::selection {
    color: $md-black;
    background: $md-accent-yellow;
  }
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Sans-serif;
  background-color: $md-black;
  color: $md-white;
  font-size: 1.6rem;
  //ver o que é isso
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

svg {
  transition: all .2s ease;
}

.section-title {
  @include Kanit--h1-bold;
  max-width: 1520px;
  padding: 200px 20px 80px 20px;
  margin: auto;
  text-align: left;

  &--center {
    text-align: center;
  }

  @include xl {
    @include Kanit--h2-bold;
    max-width: 1120px;
    padding-top: 160px;
    padding-bottom: 56px;
  }

  @include md {
    padding-bottom: 40px;
    text-align: left;
  }
}

// Custom scroll

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $md-black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $md-white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $md-accent-yellow; 
}