@use "../styles" as *;

// Base styles

* {
  color: inherit;
  margin: 0;
}

html {
  ::-moz-selection { /* Code for Firefox */
    color: $md-black;
    background: $md-accent-yellow;
  }
  ::selection {
    color: $md-black;
    background: $md-accent-yellow;
  }
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Sans-serif;
  background-color: $md-black;
  font-size: 1.6rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}